<!-- Slider -->
<div class='container-fluid non_user_slider'>
  <div class="container slider_container">
    <h1>Edu-tutor</h1>
    <p>We all want to give our kids the best education.</p>
    <p>Edu-tutor makes it easy for you to find the best home tutors for your kids.</p>
    <button class="pull-right" type="button" name="signup">Sign up</button>
  </div>
</div>

<!-- Reviews -->
<div class="container-fluid" id="reviews">
  <div id="Carousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item review active">
        <h3>Edu-tutor helped my child go from struggling in math to being top of his class!</h3>
        <h4>Liz McPhee</h4>
      </div>
      <div class="item review">
        <h3>I love using Edututor to find tutors. It makes the whole proccess so much easier.</h3>
        <h4>John Smith</h4>
      </div>
      <div class="item review">
        <h3>Edu-tutor is a real life saver. My son has always had trouble in class, but now he's doing much better.</h3>
        <h4>Angela Hutton</h4>
      </div>
    </div>

    <a class="left carousel-control" href="#Carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#Carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<!-- Learn-->
<div class="container">
  <div id="learn">
    <h1>Learn</h1>
    <p>We want all Parents or Guardians who want to find best home tutors
for their wards or Kids on any Subject to sign-up</p>
    <a href="<%= url_for(controller: 'users', action: 'new', params: {:account_type => "parent"}) %>"><button class="pull-right" type="button" name="parent-signin">Parent Sign-up</button></a>
  </div>
</div>

<!-- Teach -->
<div class="container">
  <div id="teach">
    <h1>Teach</h1>
    <p>We always welcome teachers who are passionate
about their subjects and want to make a difference in
the lives students to sign-up on our site</p>
    <a href="<%= url_for(controller: 'users', action: 'new', params: {:account_type => "tutor"}) %>"><button class="pull-right" type="button" name="tutor-signin">Tutor Sign-up</button></a>
  </div>
</div>

<div class="container">
  <div id="about">
    <h1>About Us</h1>
  </div>
</div>
