<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Learn</a></li>
        <li><a href="#">Teach</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Displaying the overall page view  -->
<div class="profile">
  <!-- Displaying the profile picture and Bio -->
  <div class="container">
    <div class="bio col-md-6">
      <%= image_tag "tutor.jpg" %>
      <h4> </h4>  
    </div>
    <div class="bio col-md-6">
      <h4>Name: Stanley Brown</h4>
      <h5> Professional Bio: </h5>
      <p> A dedicated tutor with over 10 years 
      experience teaching Maths and Computer science to pupils from 
      Grade 6 to Grade 10.
      </p> 
    </div>
  </div>


  <!-- Displaying Experience and Specilazation-->
  <div class="container">
    <div class="experience col-md-12">
      <h4>Specialization</h4>
      <table> 
        <tbody> 
          <tr>
            <td> Subject: </td> 
            <td> Maths</td>
            <td> Experience(yrs): </td>
            <td> 3 </td> 
            <td> Qualification1: </td>
            <td> BSc. Mathematics </td> 
            <td> Qualification2: </td>
            <td> MSc. Mathematics</td> 
          </tr>
        </tbody>
      </table>  
    </div>

    <div class="experience col-md-12">
      <table> 
        <tbody> 
          <tr>
            <td> Subject: </td> 
            <td> English </td>
            <td> Experience(yrs): </td>
            <td> </td> 
            <td> Qualification1: </td>
            <td> </td> 
            <td> Qualification2: </td>
            <td> </td> 
          </tr>
        </tbody>
      </table>  
    </div>

    <div class="experience col-md-12">
      <table> 
        <tbody> 
          <tr>
            <td> Subject: </td> 
            <td>Computer science </td>
            <td> Experience(yrs): </td>
            <td> 10 </td> 
            <td> Qualification1: </td>
            <td> </td> 
            <td> Qualification2: </td>
            <td> </td> 
          </tr>
        </tbody>
      </table>  
    </div>
  </div>

  <!-- parentt Reviews of tutors  -->
  <br> 
  <br> 
  <div class="container">
    <div> <h4> <li>Parents Reviews </li> </h4> </div>
      <div class="reviews_tutor">
        <div class="review col-md-6">
          <p>My sons performance increased dramatically after he began his lessons with Mr Stanley!</p>
          <h5>Scott, 25th of January, 2016 </h5>
          <hr> 
        </div>
      </div>
    </div>
  <br> 
  <div class="container">
    <div class="reviews_tutor">
      <div class="review col-md-6">
        <p>not only did my daughters English grade score increase, her attutide towards her studies also improved 
        when stanley started home Tutoring with her</p>
        <h5>IDD ...  25th of March, 2015 </h5>
        <hr> 
      </div>
    </div>
  </div>
</div>

