<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Learn</a></li>
        <li><a href="#">Teach</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Displaying the overall page view  -->
<div class="profile">
  <!-- Displaying the profile picture and Bio -->
  <div class="container">
    <div class="reviews_tutor">
        <fieldset>
          <div id="upload-file-container">
            <label>Upload a professional picture </label> <br> 
            <input type="file" name="photo" />
          </div>
          <div>
            <label>Write a Short professional Bio about yourself </label> <br> 
            <textarea cols = "28" rows = "8"> </textarea> 
          </div>
        </fieldset> 
      </div>
  </div>
  <div class="container">
    <button class="pull-left" type="button" name="add_subject">Add Subject</button>
  </div>

  <div class="container">
    <div id="subjectForm">
      <fieldset>
        <legend>Teaching Specilization</legend>
        <form id="tutorUser">
          <p> Subject 
          <input type="text"  id="subject" name="subject"  placeholder="Subject">
          Years of Experience 
          <input type="number" id="yrs_of_experience" name="yrs_of_experience" placeholder="1" min="1"> 
          Qualification 
          <input type="text" id="qualification" name="qualification" placeholder="qualification">
          Qualification2
           <input type="text" id="qualification2" name="qualification2" placeholder="qualification2"><br>
           </p>
        </form>
      </fieldset>
    </div>
  </div>

  <div class="container">
    <div id="preferenceForm">
      <fieldset>
        <legend>Preferences</legend>
        <form id="newUser">
          <p> Can you teach over the weekend <input type="checkbox"  id="weekendwork" name="weekendwork"> </p>
          <p> How many pupils can you teach Simultaneously at a location <input type="number" id="maxpupils" name="maxpupils" placeholder="1" min="1" max = "4"> </p>
          <p> Are you willing to teach in other locations? <input type="checkbox" id="otherlocation" name="otherlocation" > </p> 
          <input type="submit" name="Submit" value="Submit">
        </form>
      </fieldset>
    </div>
  </div>

  <div class="container">
    <div id="availibility">
      <fieldset>
        <legend>Availibility</legend>
        <form id="newUser">
         
        </form>
      </fieldset>
    </div>
  </div>

</div>

