

<div class ="profile">
  <div class=  "tutor_view col-md-12"> 

    <div class =  "tutor_view col-md-6"> 
      <label> Current Availability and Schedule </label>
    </div>
    <div class =  "tutor_view col-md-6"> 
      <button type="button" name="button">Edit Availibility</button>
    </div>
  </div>

  <!-- Schedule calendar -->
  <div class="tutor-calendar container">
    <div id="calendar">
    </div>
  </div>

  <div class= "upcoming col-md-12 " > 
    <h4> Upcoming Tutorial Sessions </h4>
    <div class= "upcoming col-md-12 " >
     <p> Name of Ward: John </p>
     <p> Address: 114 14th str, SW </p>
     <p> Date : 25th of March, 2016 </p>
     <p> 10am - 12pm </p>
    </div>
  </div>
</div>
