<div class="container">
  <div class="login col-md-4">
    <form class="login_form" action="/sessions" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= render "shared/login_form" %>
    </form>
  </div>
</div>
