<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-account">
      <ul class="nav navbar-nav navbar-right">
        <!-- Login link if not signed in-->
        <% if current_user.blank? %>
          <li><a href="/users">Login</a></li>
        <% else %>
        <!-- Profile link if a user is signed in -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= current_user.first_name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><a href="#">Edit Profile TODO</a></li>
              <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            </ul>
          </div>
        <% end %>
      </ul>
      <div class="nav navbar-note navbar-right">
        <button type="button" name="button">TODO</button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Navigation header -->
<div class="container">
  <div class="wards_header">
    <!-- ERB if current_user.has_wards? -->
    <!-- display dropdown with entries for each ward -->
    <!-- else display add new ward button and skip rendering wards info -->
    <div class="dropdown">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newWardForm">Add New Ward
        <span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="search_tutors pull-right">
      <button class="btn btn-alert" type="button" name="button">Search Tutors</button>
    </div>
  </div>
</div>

<!-- Schedule calendar -->
<div class="wards-calendar container">
  <div id="calendar"></div>
</div>

<!-- Add new ward modal -->
<div class="modal fade" id="newWardForm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Ward</h4>
      </div>
      <div class="modal-body">
        NEW WARD FORM
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
