<!-- Displaying the overall page view  -->
<div class ="profile">
  <div class="container">
    <label>Requested Booking Session Confirmation </label> <br>
      <div class="bookingconfirmation col-md-8">
        <div class="bookingconfirmation1 col-md-4">
          <p>Name of Parent: Li Mason </p>
          <p>How many wards: 1 </p> 
          <p> <h5> Name of ward1:  Dan </h5> <h5> Grade Level: </h5>  <h5> Subjects:    </p>
        </div>
        <div class="bookingconfirmation2  col-md-4">
          <p> Address of Session: No 18, 14 street, SW Calgary </p>
          <p> Frequency of Session: Every Monday, 5pm  -8pm , from 23rd Febuary - 11th April, 2016 </p>
          <p> Total Remunaration for this session(inclusive Edu-tutor commission and taxes): $800.00 </p>
        </div>
        <div class = "commentsBooking">
          <form id="bookingConfirmationForm">
              <div>
                <label>Comments </label> <br>
                <textarea cols = "20" rows = "5"> </textarea>
              </div>
            <p> <input type="submit" name=" Accept Booking " value="Accept Booking "> <input type="submit" name=" Decline Booking " value="Decline Booking "> </p>
          </form>
        </div>
      </div>
  </div>
</div>
