<!-- Displaying the overall page view  -->
<div class="profile">
  <!-- Displaying the profile picture and Bio -->
  <form id="tutorUser " action = "/users/<%=current_user.id %>/tutor_details" method= 'post'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="container">
      <div class="reviews_tutor">

          <fieldset>
            <div id="upload-file-container">
              <label>Upload a professional picture </label> <br>
              <input type="file" name="image" />
            </div>
            <div>
              <label>Write a Short professional Bio about yourself </label> <br>
              <textarea name="bio" cols = "28" rows = "8" id = "tutorUser"> </textarea>
            </div>
          </fieldset>
        </div>
    </div>
    <div class="container">
      <button class="pull-left" type="button" name="add_subject">Add Subject</button>
    </div>

    <div class="container">
      <div id="subjectForm" >
        <fieldset>
          <legend>Teaching Specilization</legend>
            Subject
            <select id = "tutorUser" name="subject_id">
              <% subject_list.each do |subject| %>
                <% name = subject.subject_name %>
                <option value="<%= subject.id %>"><%= name %></option>
              <% end %>
            </select>
            Years of Experience
            <input type="number" id="years_of_experience" name="years_of_experience" placeholder="1" min="1">
            Qualification
            <input type="text" id="qualification1" name="qualification1" placeholder="qualification">
            Qualification2
             <input type="text" id="qualification2" name="qualification2" placeholder="qualification2"><br>
             </p>
             <input type="submit" name="Submit" id= "buttonQualificationSubmit" value="Submit">
          <% end %>
        </fieldset>
      </div>
    </div>
   </form>
<!--
  <div class="container">
    <div id="preferenceForm">
      <fieldset>
        <legend>Preferences</legend>
        <form id="newUser">
          <p> Can you teach over the weekend <input type="checkbox"  id="weekendwork" name="weekendwork"> </p>
          <p> How many pupils can you teach Simultaneously at a location <input type="number" id="maxpupils" name="maxpupils" placeholder="1" min="1" max = "4"> </p>
          <p> Are you willing to teach in other locations? <input type="checkbox" id="otherlocation" name="otherlocation" > </p>
          <input type="submit" name="Submit" value="Submit">
        </form>
      </fieldset>
    </div>
  </div> -->

  <div class="container">
    <div id="availibility">
      <fieldset>
        <legend>Availibility</legend>
        <form id="newUser">

        </form>
      </fieldset>
    </div>
  </div>

  <!-- Schedule calendar -->
  <div class="tutor-calendar container">
    <div id="calendar">
    </div>
  </div>

</div>
