<!-- Displaying the overall page view  -->
<div class ="profile">
  <div class="container">
    <label>Tutor Review Page </label> <br>
    <h5> Tutor Name: </h5>
      <div class="reviewpage col-md-6">
        <div class="reviewpage1 col-md-3">
          <h5>Tutor rating ( out 5 stars) <h5>
          <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>
        <div class="reviewpage2 col-md-3"> </div>
          <h5 class="pull-left">5 being most Execellent  <h5>
      </div>
        <form id="recommendTutorForm">
          <p> Would you recommend the tutor to other parents <input type="checkbox" id="recommendTutor" name="recommendTutor" > </p>
            <div>
              <label>Review Summary TextBox </label> <br>
              <textarea cols = "28" rows = "8"> </textarea>
            </div>
          <input type="submit" name="Submit Review " value="Submit Review ">
        </form>
  </div>
</div>
