<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-account">
      <ul class="nav navbar-nav navbar-right">
        <!-- Login link if not signed in-->
        <% if current_user.blank? %>
          <li><a href="/users">Login</a></li>
        <% else %>
        <!-- Profile link if a user is signed in -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= current_user.first_name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><a href="#">Edit Profile</a></li>
              <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            </ul>
          </div>
        <% end %>
      </ul>
      <div class="nav navbar-note navbar-right">
        <button type="button" name="button">TODO</button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class ="profile">
  <div class=  "tutor_view col-md-12"> 
    <div class =  "tutor_view col-md-6"> 
      <label> Current Availability and Schedule </label>
    </div>
    <div class =  "tutor_view col-md-6"> 
      <button type="button" name="button">Edit Availibility</button>
    </div>
  </div>

  <!-- Schedule calendar -->
  <div class="tutor-calendar container">
    <div id="calendar">
    </div>
  </div>

  <div class= "upcoming col-md-12 " > 
    <h4> Upcoming Tutorial Sessions </h4>
    <div class= "upcoming col-md-12 " >
     <p> Name of Ward: John </p>
     <p> Address: 114 14th str, SW </p>
     <p> Date : 25th of March, 2016 </p>
     <p> 10am - 12pm </p>
    </div>
  </div>
</div>
