<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-account">
      <ul class="nav navbar-nav navbar-right">
        <!-- Login link if not signed in-->
        <% if current_user.blank? %>
          <li><a href="/users">Login</a></li>
        <% else %>
        <!-- Profile link if a user is signed in -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= current_user.first_name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><a href="#">Edit Profile</a></li>
              <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            </ul>
          </div>
        <% end %>
      </ul>
      <div class="nav navbar-note navbar-right">
        <button type="button" name="button">TODO</button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Displaying the overall page view  -->
<div class="profile">
  <!-- Displaying the profile picture and Bio -->
  <form id="tutorUser " action = "/users/<%=current_user.id %>/tutor_details" method= 'post'> 
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="container">
      <div class="reviews_tutor">
      
          <fieldset>
            <div id="upload-file-container">
              <label>Upload a professional picture </label> <br>  
              <input type="file" name="image" />
            </div>
            <div>
              <label>Write a Short professional Bio about yourself </label> <br>
              <textarea name="bio" cols = "28" rows = "8" id = "tutorUser"> </textarea>
            </div>
          </fieldset>
        </div>
    </div>
    <div class="container">
      <button class="pull-left" type="button" name="add_subject">Add Subject</button>
    </div>

    <div class="container">
      <div id="subjectForm" >
        <fieldset>
          <legend>Teaching Specilization</legend>
          
            <p> Subject
            <input type="text"  id="subject" name="subject"  placeholder="Subject">
            Years of Experience
            <input type="number" id="years_of_experience" name="years_of_experience" placeholder="1" min="1">
            Qualification
            <input type="text" id="qualification1" name="qualification1" placeholder="qualification">
            Qualification2
             <input type="text" id="qualification2" name="qualification2" placeholder="qualification2"><br>
             </p>
             <input type="submit" name="Submit" id= "buttonQualificationSubmit" value="Submit">
     
        </fieldset>
      </div>
    </div>
   </form>
<!-- 
  <div class="container">
    <div id="preferenceForm">
      <fieldset>
        <legend>Preferences</legend>
        <form id="newUser">
          <p> Can you teach over the weekend <input type="checkbox"  id="weekendwork" name="weekendwork"> </p>
          <p> How many pupils can you teach Simultaneously at a location <input type="number" id="maxpupils" name="maxpupils" placeholder="1" min="1" max = "4"> </p>
          <p> Are you willing to teach in other locations? <input type="checkbox" id="otherlocation" name="otherlocation" > </p>
          <input type="submit" name="Submit" value="Submit">
        </form>
      </fieldset>
    </div>
  </div> -->

  <div class="container">
    <div id="availibility">
      <fieldset>
        <legend>Availibility</legend>
        <form id="newUser">

        </form>
      </fieldset>
    </div>
  </div>

  <!-- Schedule calendar -->
  <div class="tutor-calendar container">
    <div id="calendar">
    </div>
  </div>

</div>
