<div class="tutor_search_result">
  <div class="tutor_image">
    <img src="http://lorempixel.com/120/120/" alt="pew pew">
  </div>
  <div class="tutor_right">
    <div class="tutor_search_header">
      <h3><%= tutor.user.first_name %> <%= tutor.user.last_name %></h3>
      <h4>Average Review</h4>
    </div>
    <div class="tutor_search_body">
      <p>Subject, Subject, Subject</p>
      <p><%= tutor.user.address %>, <%= tutor.user.city %></p>
    </div>
  </div>
</div>
