<div class="experience col-md-12">
  <table>
    <tbody>
      <tr>
        <td> Subject: </td>
        <td> <%= subject_list.find(specialization.subject_id).subject_name %></td>
        <td> Experience(yrs): </td>
        <td> <%= specialization.years_of_experience %> </td>
        <td> Qualification1: </td>
        <td> <%= specialization.qualification1 %>  </td>
        <td> Qualification2: </td>
        <td> <%= specialization.qualification2 %> </td>
      </tr>
    </tbody>
  </table>
</div>

