<div class="tutor_search_result">
  <div class="tutor_image">
    <img src="http://lorempixel.com/120/120/" alt="pew pew">
  </div>
  <div class="tutor_right">
    <div class="tutor_search_header">
      <h3><%= tutor.first_name %> <%= tutor.last_name %> </h3>
      <h4>Average Rating Score</h4> <%= tutor.tutor_detail.average_review %> 
    </div>
    <div class="tutor_search_body">
      <h4>Subjects </h4>
          <% tutor.tutor_detail.specializations.each do |specialization| %> 
          <p> <%= subject_list.find(specialization.subject_id).subject_name %> </p>
          <% end %>  
    </div>
  </div>
</div>

