<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="login_parents">Login as Parent</a></li>
            <li><a href="login_tutors">Login as Tutor</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="wards_header">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add New Ward
        <span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="search_tutors pull-right">
      <button class="btn btn-alert" type="button" name="button">Search Tutors</button>
    </div>
  </div>
  <div class="ward_body">
    <div class="ward_schedule col-md-8">
      <%= month_calendar do |date| %>
        <%= date %>
      <% end %>
    </div>
    <div class="ward_subjects col-md-4">
      <h3>Subjects</h3>
    </div>
  </div>
</div>
