<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Edu-tutor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Learn</a></li>
        <li><a href="#">Teach</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Displaying the overall page view  -->
<div class ="profile">
  <div class="container">
    <label>Tutor reply to Booking Request </label> <br> 
      <div class="bookingfeedback col-md-8">
        <div class="bookingfeedback1 col-md-8">
          <p>Tutor Name: Li Mason </p> 
          <p>Rating : **** </p> 
          <p>Location :  </p>           
        </div>
        <div class="bookingfeedback2  col-md-8"> 
          <label>Session Details </label> <br> 
          <p> Address of Session: No 18, 14 street, SW Calgary </p>
          <p> How many wards: 1 </p>
          <p> <h5> Name of ward1:  Dan </h5> <h5> Grade Level: 10 </h5>  <h5> Subjects: Maths </h5>  </p>
          <p> Frequency of Session: Every Monday, 5pm  -8pm , from 23rd Febuary - 11th April, 2016 </p>
          <p> Total cost for this session(inclusive of taxes): $800.00 </p> 
        </div>
      </div>  
      <div class = "tutorFeedbackOnBooking col-md-6"> 
        <label>Booking Status </label> <br> 
        <p> Tutor has <em> accepted </em> your Booking request for ward 1  </p>
        <P> This Home-Tutoring session will begin on Monday, 5pm on the 23rd Febuary </p>
      </div>               
  </div>
</div>