.navbar-collapse .navbar-nav li a {
  color: #FFF;

  &:hover {
    color: grey;
  }
}

.non_user_slider {
  background-image: image-url("non_user_slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  background-position: left top;
  padding-top: 4em;

  .slider_container {
    height: 22em;
    padding-left: 2em;
    padding-top: 1em;
    background-color: rgba(0,0,0,0.65);
    color: #FFF;

    h1 {
      font-size: 4em;
      font-style: oblique;

      @media screen and (max-width: 768px) {
        font-size: 3em;
      }
    }

    p {
      font-size: 2.3em;
      line-height: 1em;

      @media screen and (max-width: 768px) {
        font-size: 1.8em;
      }
    }

    button {
      background: #16a085;
      font-size: 2em;
      margin-top: 2em;
      margin-right: 2em;

      @media screen and (max-width: 1200px) {
        margin-top: 1em;
      }

      @media screen and (max-width: 992px) {
        margin-right: 1em;
      }
    }
  }
}

#teach, #learn {
  background-color: #FFF;
  height: 16em;
  font-size: 2.5rem;
  border-bottom: 0.1em solid grey;

  p {
    height: 8em;
  }

  button {
		display: inline-block;
		margin-top: 1.5em;
    margin-bottom: 1em;
		padding: 1em 2em;
		background: #16a085;
		text-decoration: none;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;

    :before {
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 20px;
			text-align: center;
			color: #FFF;
		}
  }
}

#carousel {
  width: 100%
}

#reviews {
  height: 8em;
  width: 100%;
  background: rgba(0,0,0,0.65);
  color: #FFF;

  .review {
    height: 8em;
    padding: 0.5em 4em;
    margin-left: 18%;
  }
}

#about {
  height: 16em;
  margin-bottom: 1em;
}
