$('#ward_subjects').html("<%= escape_javascript(render :partial => './shared/ward_subjects', locals: {ward: @selected} ) %>");

$('#ward_name').html("<%= @selected.first_name %> <span class='caret'></span>");
