<!DOCTYPE html>
<html>
<head>
  <title>Edututor</title>
  <%= stylesheet_link_tag    'application', 'static_pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- footer -->
<div class="footer container-fluid">
  <div class="copyright">
    <h5>&copy Copyright Edu-tutor 2016</h6>
  </div>
</div>
</body>
</html>
